body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

@media (min-width:748px){

.left-card{
  float:left;
  width: 50%;
}

.right-card{
  float: right;
  width: 50%;
}

.text{
  margin-left:5px;
  float: left;
}

.tile-image{
  height:200px;
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}
}

@media (max-width: 747px){
  .tile-image{
    width:100%;
    display: block;
  }
  .text{
    text-align: justify;
    text-align: center;
  }
}

footer {
  text-align: right;
  color: midnightblue;
}

