html{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;

}

img{
    width: 100%;
    border: 5px solid white;
}

.poster{
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    color: white;
}